# Development environment. These values are injected via ldflags in release builds.
# Copy this file to .env for local development.
SUPERMETRICS_OAUTH_CLIENT_ID=32ce5175-1d9c-4888-902a-78104f8330b4
SUPERMETRICS_OAUTH_SCOPES=ds_queries_run ds_logins_read ds_accounts_read ds_login_links_read ds_login_links_write openid offline_access
SUPERMETRICS_DOMAIN=supermetrics.com
